.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteModal {
    background: white;
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.deleteModalHeader {
    width: 100%;
    height: 35px;
    background-color: #385ac0;
    border-radius: 10px 10px 0 0;
}

.deleteModalBody {
    margin: 15px;
}

.deleteModalTitle {
    font-size: 22px;
    font-weight: bold;
}

.deleteModalContent {
    margin: 10px 0px;
    font-size: 18px;
}

.deleteModalButtonForm {
    margin: 15px 0px;
    text-align: right;
}

.deleteModalOK {
    padding: 5px 0px;
    margin-right: 10px;
    width: 100px;
    list-style: none;
    border: none;
    background: #385ac0;
    border-radius: 5px;
    font-size: 18px;
    color: #ffffff;
}

.deleteModalOK:hover {
    background: #5678dc;
}

.deleteModalCancel {
    padding: 5px 0px;
    width: 100px;
    list-style: none;
    border: 2px solid #385ac0;
    background: #ffffff;
    border-radius: 5px;
    font-size: 18px;
    color: #000000;
}

.deleteModalCancel:hover {
    background: #dcdcdc;
}