.inputForm {
    height: auto;
    width: auto;
    padding: 15px 20px;
    background-color: #ffffff;
    margin: 0 auto;
    border: 2px solid #385ac0;
}

.itemsTable {
    margin: 0 auto;
}

.itemName {
    font-size: 15px;
    padding-left: 20px;
}

.titleForm {
    width: 405px;
}

.partnerForm {
    width: 200px;
}

.dueDateForm {
    width: 140px;
}

.descriptionForm {
    width: 900px;
}

.buttonForm {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.leftButton {
    justify-content: flex-start;
    margin-right: 120px;
}

.inputButton {
    justify-content: center;
    padding: 5px 0px;
    width: 120px;
    list-style: none;
    border: none;
    background: #385ac0;
    border-radius: 5px;
    font-size: 18px;
    color: #ffffff;
}

.switchingButton {
    justify-content: flex-end;
    right: 0;
    padding: 5px 0px;
    width: 120px;
    list-style: none;
    border: 2px solid #385ac0;
    background: #ffffff;
    border-radius: 5px;
    font-size: 18px;
    color: #000000;
}

.pageNation {
    display: flex;
    justify-content: center;
}

.pageNationButton {
    text-align: center;
    margin: 0px 10px;
    height: 30px;
    width: 30px;
    font-size: 20px;
}