main {
    width: 1080px;
    height: auto;
    margin: 0 auto;
}

.listRecord {
    width: auto;
    height: auto;
    margin: 15px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #385ac0;
}

.content {
    width: 1080px;
    height: auto;

}

.contentHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 15px;
    margin-bottom: 5px;
    background-color: #385ac0;
    border: 1px solid #385ac0;
    color: #ffffff;
}

.status {
    transform: scale(1.5);
    margin-top: 5px;
}

.contentHeaderButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hideButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    margin-right: 5px;
    cursor: default;
}
.hideMark {
    font-size: 18px;
    color: #000000;
    margin-top: 3px;
    user-select: none;
}

.deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    background-color: #ff0000;
    cursor: default;
}
.deleteMark {
    font-size: 18px;
    color: #ffffff;
    margin-top: 3px;
    user-select: none;
}

.contentRecode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px 15px;
}

.contentTitle {
    font-size: 20px;
    font-weight: bold;
}

.contentSubTitle {
    font-size: 13px;
}

.editButton {
    width: 25px;
    height: 25px;
}

.contentLine {
    padding: 0px 15px;
}

.contentDescription {
    padding: 0px 15px 10px 15px;
}

.hideRecode {
    margin-top: 10px;
}